.user-vacation-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-medium);
}

.user-vacation-management-header .user-vacation-management-header-controls {
  display: flex;
  gap: var(--space-small);
  align-items: center;
}

.user-vacation-management-header .user-vacation-management-filter {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: var(--font-small);
  cursor: pointer;
}
