.header-container {
  width: 90%;
  display: block;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  float: right;
  position: fixed; /* 고정 위치 */
  right: 0;
}

.header-container > .header-wapper {
  display: flex;
  justify-content: space-around;
  width: 200px;
  align-items: center;
  margin-right: 50px;
}

.header-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.logout {
  outline: auto;
  padding: 5px;
}
