.admin-notice-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-medium);
}

.admin-notice-management-header-controls {
  display: flex;
  gap: var(--space-small);
  align-items: center;
}

.admin-notice-search-input {
  max-height: 30px;
  padding: var(--space-small);
  outline: none;
  border-radius: var(--base-border-radius);
}

@media screen and (max-width: 600px) {
  .admin-notice-management-header {
    margin-bottom: var(--space-small);
  }

  .admin-notice-search-input {
    max-width: 150px;
  }
}
