{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "arrowParens": "avoid", # 화살표 함수에서 매개변수 하나면 괄호 생략
  "bracketSpacing": true, # 객체 리터럴에서 중괄호 내부에 공백 e.g.const obj = { foo: 'bar' };
  "trailingComma": "all", # 여러 줄로 구성된 객체나 배열의 마지막 요소에도 항상 콤마를 붙임
}