.member-edit-form-container {
  width: 100%;
  padding: var(--space-large);
  border-radius: var(--base-border-radius);
  background-color: var(--color-pale-gray);
  margin-top: 20px;
}
.member-edit-form {
  display: flex;
  gap: 2rem;
}
.member-edit-form .member-edit-profileImg {
  flex: 4;
  flex-basis: 0;
}

.member-edit-form .member-edit-profile {
  flex: 6;
  flex-basis: 0;
}
.member-edit-profile .user-profile-inputs {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.button-container {
  width: 100%;
}

.member-submit-button {
  width: 100%;
  margin-top: 25px;
}

.member-edit-profile .user-profile-inputs .input-box:last-child {
  display: none;
}

.member-edit-profile .user-profile-inputs .input-box:nth-child(7) {
  display: none;
}

@media (width<=1200px) {
  .member-edit-form-container {
    padding: var(--space-large) var(--space-xlarge);
  }
  .member-edit-form {
    flex-direction: column;
  }
}

@media (width <= 1000px) {
  .user-edit-form-container {
    padding: var(--space-xsmall) var(--space-small);
  }
}
