@import url('../../../styles/global.css');

/* CALENDAR*/
/* .punch-info-time p:not(:last-child), */
.punch-info-title p:not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}

/* 마지막 요소 처리 */
.punch-info-title p:last-child,
.punch-info-time p:last-child {
  border-right: none;
}

.work-calendar-box {
  margin-left: var(--space-large);
  margin-right: calc(var(--space-large) * 3.8);
  width: calc(var(--space-large) * 40);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}

/* 캘린더 title */
.calendar-title {
  margin: 0 var(--space-xsmall);
  font-size: var(--font-medium);
  font-weight: 700;
}
#calendar-after,
#calendar-before {
  font-size: var(--font-large);
  cursor: pointer;
  transition: color 0.3s;
}

#calendar-after:hover,
#calendar-before:hover {
  color: #007bff;
}

/* 캘린더 구성 */
.work-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: var(--space-small);
  margin-top: var(--space-small);
}

.calendar-day {
  border: 1px solid black;
  width: calc(var(--space-large) * 5);
  height: calc(var(--space-large) * 3);
  padding: var(--space-small);
  border-bottom: 0;
  font-weight: 700;
}
.calendar-day:nth-child(-n + 7) {
  text-align: center;
  height: 35px;
}
.calendar-day:nth-child(7n + 1) {
  border-left: 0px;
}

/* 오른쪽 테두리 제거 */
.calendar-day:nth-child(7n) {
  border-right: 0px;
}
/* 맨 아래 테두리 제거 */
.calendar-day:nth-last-child(-n + 7) {
  border-bottom: 0px;
}

.cal-punch-info {
  display: flex;
  flex-direction: column;
}

.cal-punch-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-small);
}

.cal-punch-in-time,
.cal-punch-out-time,
.cal-break-in,
.cal-break-out {
  width: calc(var(--space-large) * 5);
  height: var(--space-medium);
  border-radius: var(--base-border-radius);
  padding-left: var(--space-medium);
}

.cal-punch-in-time {
  background-color: var(--color-blue);
}

.cal-punch-out-time {
  background-color: var(--color-coral);
}

.cal-break-in {
  background-color: var(--color-caramel);
}

.cal-break-out {
  background-color: var(--color-green-muted);
}

/* MEDIA */
@media (max-width: 600px) {
  .work-calendar-box {
    width: 100%; /* 전체 폭 사용 */
    margin-left: var(--space-small); /* 여백 조정 */
    margin-right: var(--space-small); /* 여백 조정 */
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
  }
  .work-title-text {
    margin: 0;
  }
  .work-desc {
    width: 300px;
  }

  .title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .punch-info-title {
    width: 300px;
  }
  .punch-info {
    margin: 0;
    width: 80px;
  }
  .punch-info-time {
    margin: 0;
    width: 100px;
  }
  .punch-in-time {
    margin: 0;
    width: 100px;
  }
  .punch-out.time {
    width: 60px;
  }

  .punch-date {
    margin: 10px 0; /* 위아래 여백 추가 */
    padding: 5px; /* 내부 여백 추가 */
    font-size: var(--font-medium); /* 폰트 크기 조정 */
  }

  /* work-content의 여백 제거 */
  .work-content {
    margin: 0; /* 여백 제거 */
    padding: 0; /* 패딩 제거 */
    width: 100px;
  }

  .work-calendar {
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(7, 1fr); /* 7열로 구성 */
    padding: var(--space-small);
    margin-top: var(--space-small);
  }

  .calendar-day {
    width: calc(var(--space-large) * 2); /* 너비 줄임 */
    height: calc(var(--space-large) * 2.5); /* 높이 줄임 */
    border: 1px solid black; /* 테두리 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    position: relative; /* 자식 요소의 절대 위치 지정 */
  }

  /* 출근/퇴근/외출/복귀 텍스트 숨기기 */
  .cal-punch-in-time,
  .cal-punch-out-time,
  .cal-break-in,
  .cal-break-out {
    position: relative; /* 상대 위치 지정 */
    width: 20%; /* 너비 조정 */
    height: 20%; /* 높이 조정 */
    border-radius: var(--base-border-radius);
    margin: 5%; /* 중앙 정렬을 위한 마진 */
    color: transparent; /* 텍스트 숨기기 */
  }

  .cal-punch-in-time {
    background-color: var(--color-blue);
  }

  .cal-punch-out-time {
    background-color: var(--color-coral);
  }

  .cal-break-in {
    background-color: var(--color-caramel);
  }

  .cal-break-out {
    background-color: var(--color-green-muted);
  }
}
