@import url('../../../styles/global.css');

.work-header {
  width: 1300px;
  height: 100px;
  background-color: orange;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 수직 정렬 */
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
}

.work-title {
  font-size: var(--font-medium);
}

.punch-date {
  width: 300px;
  padding: 15px; /* 내부 여백 */
  font-size: var(--font-medium);
  height: 40px;
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 4px; /* 테두리 둥글게 */
}

.work-content {
  width: 1300px;
  height: 100px;
  background-color: aqua;
  display: flex; /* Flexbox 사용 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.work-content .work-desc {
  font-size: var(--font-large);
  margin: 0; /* 기본 여백 제거 */
}

.punch-info {
  width: 400px;
  height: 100px;
  background-color: #ccc;
  margin-top: 10px; /* 아래 여백 추가 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
}

.punch-info-title,
.punch-info-time {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  width: 100%; /* 전체 너비 사용 */
}

.punch-info-title p,
.punch-info-time p {
  margin: 0; /* 기본 여백 제거 */
  padding: 0 10px; /* 좌우 여백 추가 */
}

.punch-info-title p:not(:last-child),
.punch-info-time p:not(:last-child) {
  border-right: 1px solid #000; /* 오른쪽 테두리 추가 */
}

.work-calendar-box {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가로 중앙 정렬 */
}

.title-content {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100px; /* 원하는 높이 설정 */
}

.calendar-title {
  margin: 0; /* 기본 마진 제거 */
}

.work-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px; /* 내부 여백 추가 (선택 사항) */
}

.calendar-day {
  border: 1px solid black; /* 각 날짜 칸의 검은색 실선 테두리 */
  height: 80px;
  padding: 10px;
  text-align: center;
  border-bottom: 0;
}
.calendar-day:nth-child(-n + 7) {
  height: 40px;
}
.calendar-day:nth-child(7n + 1) {
  border-left: 0px;
}
.calendar-day:nth-child(7n) {
  border-right: 0px; /* 매주 마지막 날짜 칸의 오른쪽 테두리 제거 */
}
.calendar-day:nth-last-child(-n + 7) {
  border-bottom: 0px; /* 맨 아래 줄의 하단 테두리 제거 */
}
