@import url('../../../styles/global.css');

/* WorkDetail HEADER */
.work-header {
  width: calc(var(--space-large) * 42);
  height: calc(var(--space-large) * 3);
  margin-bottom: calc(var(--space-large) * 2.5);
}

.work-title,
.work-content {
  display: flex; /* 각각의 내부 요소도 Flexbox로 설정 */
  align-items: center; /* 수평 중앙 정렬 */
  margin: 0 var(--space-large); /* 양쪽 여백 조정 */
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
}

.work-title-text {
  font-size: var(--font-large);
  font-weight: 700;
}

.punch-date {
  width: calc(var(--space-large) * 16);
  padding: calc(var(--space-medium) * 1.5); /* 내부 여백 */
  font-size: var(--font-medium);
  height: var(--space-medium);
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 10px; /* 테두리 둥글게 */
}

.work-desc {
  font-size: var(--font-large);
  margin: 0; /* 기본 여백 제거 */
  line-height: 1.5; /* 줄 간격 조정 (1.5는 예시, 필요에 따라 조정 가능) */
}

.punch-info {
  width: calc(var(--space-large) * 16);
  height: calc(var(--space-large) * 3);
  background-color: #f9f9f9;
  margin-top: var(--space-xsmall); /* 아래 여백 추가 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 배치 */
}

.punch-info-title {
  width: calc(var(--space-large) * 16);
  height: calc(var(--space-large) * 3);
  background-color: #f9f9f9;
  margin-top: var(--space-xsmall); /* 아래 여백 추가 */
  display: flex; /* Flexbox 사용 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 요소들 사이에 고르게 여백 배분 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 var(--space-small); /* 좌우 여백 추가 */
}

.punch-info-time {
  width: calc(var(--space-large) * 16);
  height: calc(var(--space-large) * 3);
  margin-top: var(--space-xsmall); /* 아래 여백 추가 */
  display: flex; /* Flexbox 사용 */
  flex-direction: row; /* 가로 방향으로 배치 */
  justify-content: space-between; /* 요소들 사이에 고르게 여백 배분 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 var(--space-small); /* 좌우 여백 추가 */
}

.punch-info .punch-in,
.punch-info .punch-out,
.punch-info .break-out,
.punch-info .break-in {
  font-size: var(--font-large);
  font-weight: 700;
  flex: 1; /* 각 요소가 동일한 너비를 가짐 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.punch-info-title p,
.punch-info-time p {
  margin: 0; /* 기본 여백 제거 */
  padding: 0 var(--space-small); /* 좌우 여백 추가 */
}
.punch-info-time p {
  font-size: var(--font-medium);
  margin-left: var(--space-medium);
  margin-right: var(--space-small);
  padding-right: var(--space-medium);
}

/* .punch-info-time p:not(:last-child), */
.punch-info-title p:not(:last-child) {
  border-right: 1px solid var(--color-light-gray); /* 오른쪽 테두리 추가 */
}

/* 마지막 요소 처리 */
.punch-info-title p:last-child,
.punch-info-time p:last-child {
  border-right: none;
}

.work-calendar-box {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가로 중앙 정렬 */
}

.title-content {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100px; /* 원하는 높이 설정 */
}

.calendar-title {
  margin: 0; /* 기본 마진 제거 */
}

.calendar-before,
.calendar-after {
  width: 100px;
  background-color: orange;
}

.work-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px; /* 내부 여백 추가 (선택 사항) */
}

.calendar-day {
  border: 1px solid black; /* 각 날짜 칸의 검은색 실선 테두리 */
  width: 200px;
  height: 70px;
  padding: 10px;
  border-bottom: 0;
}
.calendar-day:nth-child(-n + 7) {
  height: 40px;
}
.calendar-day:nth-child(7n + 1) {
  border-left: 0px;
}
.calendar-day:nth-child(7n) {
  border-right: 0px; /* 매주 마지막 날짜 칸의 오른쪽 테두리 제거 */
}
.calendar-day:nth-last-child(-n + 7) {
  border-bottom: 0px; /* 맨 아래 줄의 하단 테두리 제거 */
}
