@import '../../../../styles/global.css';

/* 레이아웃 */
.profile-inputs {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-medium);
}

.user-input {
  font-size: var(--font-medium);
  margin-right: var(--space-medium);
  font-weight: 500;
}

.input-field {
  width: calc(var(--space-large) * 10);
  height: calc(var(--space-large) * 1.2);
  font-size: var(--space-medium);
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: var(--space-small);
  margin-left: calc(var(--space-large));
  margin-right: calc(var(--space-medium) * 2);
  padding: var(--space-small);
}

.input-select {
  width: calc(var(--space-large) * 10);
  height: calc(var(--space-large) * 1.2);
  font-size: var(--space-medium);
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
  /* min-width: calc(var(--space-large) * 5); */
  margin-left: calc(var(--space-large));
  margin-right: calc(var(--space-medium) * 2);
  padding: var(--space-small);
}
