.user-profile-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.35rem;
  width: 100%;
}

.user-profile-inputs .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem; /* 최소 공백*/
  position: relative; /* 비번 눈 아이콘 배치용 */
}

.user-profile-inputs .input-box .user-input {
  flex: 2;
  flex-basis: 0;
  font-weight: 500;
}

.user-profile-inputs .input-box .input-field,
.user-profile-inputs .input-box .input-select {
  flex: 8;
  flex-basis: 0;
  width: 100%;
  height: 40px;
  padding: var(--space-small);
  border: 1.5px solid var(--color-light-gray);
  border-radius: 10px;
  outline: none;
  background-color: var(--color-white);
  transition: border-color 0.3s;
}

.user-profile-inputs .input-box .input-field:hover,
.user-profile-inputs .input-box .input-select:hover {
  border: 1.5px solid var(--color-regular-gray);
}

.user-profile-inputs .input-box #toggle-password,
.user-profile-inputs .input-box #toggle-confirm-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-regular-gray);
}
