/* 폰트 */
.profile-inputs {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.user-input {
  font-size: 30px;
  margin-right: 130px;
  font-weight: 500;
}

.input-field {
  width: 300px;
  height: 39px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 10px;
  margin-right: 50px;
}

.input-select {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  min-width: 150px;
  margin-right: 200px;
}
