.header-items {
  display: block;
  font-size: var(--font-medium);
  text-align: center;
}
.header-items .user-name {
  margin-bottom: var(--space-small);
}

.profile-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: url('/assets/imgs/profile/profile_null.jpg') no-repeat center; /* 기본 값 넣어둠 */
  background-size: cover;
}

.profile-circle a.hidden-link {
  display: block;
  opacity: 0;
  visibility: hidden;
  width: 80px;
  height: 80px;
  z-index: 1;
  /* background-color: black;  */
}

.header-mobile {
  display: none;
}

@media (width<=767px) {
  .header-items,
  .profile-circle {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
