.header-items {
  display: block;
  font-size: var(--font-medium);
  text-align: center;
}
.user-name {
  margin-bottom: var(--space-small);
}

.profile-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url('../../../assets/imgs/profile_null.jpg') no-repeat center;
  background-size: contain;
}

.logoutBtn {
  padding: var(--space-small);
  border-radius: 5px;
  font-size: var(--font-medium);
}

.profile-circle a.hidden-link {
  display: block;
  opacity: 0;
  width: 80px;
  height: 80px;
  /* background-color: black;  */
}

.header-mobile {
  display: none;
}

@media (width<=767px) {
  .header-items,
  .profile-circle {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
