@import '../../../styles/global.css';

/* 레이아웃 */
.box-title {
  margin-left: calc(var(--space-medium) * 5);
  width: auto;
}

.edit-title {
  font-size: var(--font-large);
}

.edit-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px !important;
  max-width: calc(var(--space--large) * 1);
  height: calc(var(--space--large) * 13);
  margin: var(--space-medium) auto;
  margin-bottom: 0;
  background-color: var(--color-pale-gray);
  padding: var(--space-large);
}

.profile-and-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--space-large);
}

/* 버튼 뒷 공간 */
.button-space {
  width: 1400px;
  height: calc(var(--space-large) * 2);
  background-color: var(--color-pale-gray);
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-left: calc(var(--space-large) * 0.2);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: calc(var(--space-large) * 2);
}

.submit-button {
  padding: var(--space-small) var(--space-medium);
  font-size: var(--font-medium);
  background-color: #e0faff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(var(--size-button-jumbo) * 4.5);
  max-width: calc(var(--size-button-jumbo) * 5);
  margin-bottom: calc(var(--space-large) * 3);
}

.submit-button:hover {
  background-color: var(--color-blue); /* 변수 사용 */
}
