/* 레이아웃 */
.box-title {
  margin-left: 80px;
  width: auto;
}

.edit-title {
  font-size: 25px;
}

.edit-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  height: 600px;
  margin: 20px auto;
  margin-bottom: 0;
  background-color: #f4f4f4;
  padding: 30px;
}

.profile-and-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

/* 버튼 */
.button-space {
  width: 1400px;
  height: 100px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-left: 78px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e0faff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10000px;
  max-width: 1250px; /* 버튼의 최대 너비 설정 (여유 공간 고려) */
}
