@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

.content {
  font-family: 'Pretendard', sans-serif; /* 프리텐다드 글꼴 적용 */
}

/* 레이아웃 */
.box-title {
  margin-left: 100px;
  width: auto;
  margin-top: 40px;
}
.edit-title {
  font-size: 25px;
}

.edit-box {
  display: flex;
  flex-direction: column;
  width: 1304px;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f4f4f4;
  padding-bottom: 30px;
}

.profile-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
}

.left-outside-box {
  margin-top: 40px;
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 8px;
}

.left-inside-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Box */
.profile-box {
  width: 443px;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside-circle {
  width: 293px;
  height: 293px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.circle-text {
  width: 160px;
  margin: 5px 0;
  letter-spacing: 2px;
}

.profile-description {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.profile-description-constraint {
  margin-top: 40px;
  width: 500px;
  height: auto;
  font-size: 22px;
  text-align: center;
}

/* 배경 */
.picture-button {
  width: 443px;
  height: 49px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 폰트 */
.profile-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 100px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.user-input {
  font-size: 30px;
  margin-right: 10px;
  font-weight: 500;
}

.input-field {
  width: 353px;
  height: 39px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  margin-left: 30px;
  margin-bottom: 10px;
}

.input-select {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  min-width: 150px;
  margin-right: 200px;
}

/* 동작 */
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e0faff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 1070px;
}
