@import '../../../styles/global.css';

/* 레이아웃 */
.profile-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

.outside-box {
  height: calc(var(--space-large) * 14);
  background-color: var(--color-light-gray);
  padding: var(--space-large);
  border-radius: 10px;
  margin-top: 0px;
  margin-left: calc(var(--space-medium) * 2);
}

.inside-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-box {
  width: calc(var(--space-large) * 10);
  height: calc(var(--space-large) * 20);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside-circle {
  width: calc(var(--space-large) * 9);
  height: calc(var(--space-large) * 9);
  background-color: var(--color-white);
  border-radius: 50%; /* 타원형을 만들기 위한 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0; /* 여백 제거 */
}

/* Upload Your Profile  */
.circle-text {
  width: calc(var(--space-large) * 5); /* 너비 계산 */
  margin: var(--space-small) 0; /* 여백 설정 */
  letter-spacing: 2px; /* 글자 간격 설정 */
  font-size: var(--font-large); /* 변수 사용 */
}

/* 프로필 이미지를 업로드 해주세요! 부분 */
.profile-description {
  font-size: var(--font-medium);
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-top: var(--space-large);
  width: calc(var(--space-large) * 15);
  margin-bottom: var(--space-small);
}

/* (단, jpg/png/jpeg 확장자 파일만 적용됩니다.) */
.profile-description-constraint {
  margin: var(--space-small);
  width: calc(var(--space-large) * 20);
  height: auto;
  font-size: calc(var(--font-small) * 1.4) !important;
  text-align: center;
}

/* 이미지 파일 선택 버튼 */
.picture-button {
  width: calc(var(--size-button-xlarge) * 1.8);
  height: calc(var(--space-medium) * 3);
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
  font-size: var(--font-medium);
  cursor: pointer;
  margin: 0; /* 여백 제거 */
  margin-left: calc(var(--space-medium) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: var(--space-small);
}

#fileInput {
  display: none; /* 파일 입력 숨김 */
}
