/* 전체 부분 */
.user-vacation-list-section {
  background: var(--color-pale-gray);
  border-radius: var(--base-border-radius);
  padding: var(--space-medium);
  height: calc(100vh - 430px);
  overflow-y: scroll;
  position: relative; /* 오류 메시지 정렬 위함 */
}

.user-vacation-list {
  border-radius: var(--base-border-radius);
}

.user-vacation-info {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 var(--space-medium);
}

.user-vacation-info span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-vacation-status {
  padding: var(--space-xsmall) var(--space-small);
  border-radius: var(--base-border-radius);
}

.status-승인 {
  background-color: var(--color-green);
  color: var(--color-white);
}

.status-대기 {
  background-color: var(--color-light-gray);
  color: var(--color-black);
}

.status-거부 {
  background-color: #c85159;
  color: var(--color-white);
}

/* detail 컨텐츠 */
.detail-content {
  padding: var(--space-medium);
}

.detail-grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

.detail-item {
  display: flex;
  gap: var(--space-large);
  align-items: center;
}

.detail-label {
  min-width: 60px;
  font-weight: 700;
}

.detail-value {
  flex: 1;
  font-size: 1rem;
}

.date {
  color: #130640;
  font-weight: 500;
}

.date-separator {
  margin: 0 var(--space-xsmall);
}

.detail-content-box {
  align-items: flex-start;
}

.content-box {
  background: var(--color-pale-gray);
  padding: var(--space-medium);
  border-radius: var(--space-small);
  line-height: 1.5;
  min-height: 80px;
}

/* 다운로드 파일 */
.download-file {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.approval-button-group {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-small);
  margin-top: var(--space-medium);
}

.approval-button {
  padding: var(--space-small) var(--space-large);
  border-radius: 8px;
  cursor: pointer;
}

.user-vacation-list-section .user-vacation-filter-error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--font-medium);
  color: var(--color-dark-gray);
}

/* 반응형 스타일 */
@media (max-width: 1200px) {
  .user-vacation-info {
    grid-template-columns: 40px 60px 60px 60px 100px 150px 80px;
  }
  .user-vacation-create-date {
    display: none;
  }
}

@media (max-width: 1000px) {
  .user-vacation-info {
    grid-template-columns: 40px 60px 60px 60px 100px 80px;
  }
  .user-vacation-phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .user-vacation-list-section {
    height: calc(100vh - 310px);
  }
  .user-vacation-info {
    grid-template-columns: 40px 60px 60px 60px 80px;
  }
  .user-vacation-avatar {
    display: none;
  }
}

@media (max-width: 576px) {
  .user-vacation-list-section {
    height: calc(100vh - 310px);
  }

  .user-vacation-info {
    grid-template-columns: 40px 60px 60px 60px;
    gap: var(--space-xsmall);
    font-size: 0.9rem;
    padding: var(--space-xsmall);
  }
  .user-vacation-abs-type {
    display: none;
  }
  .detail-item {
    flex-direction: column;
    gap: var(--space-small);
    align-items: flex-start;
  }
  .detail-label {
    font-size: 0.9rem;
    min-width: auto;
  }
  .detail-value {
    font-size: 0.8rem;
    width: 100%;
  }
  .content-box {
    padding: var(--space-small);
    min-height: 60px;
  }
}
