/* 전체 부분 */
.user-vacation-list-section {
  background: var(--color-pale-gray);
  border-radius: var(--base-border-radius);
  padding: var(--space-medium);
  height: calc(100vh - 430px);
  overflow-y: scroll;
  position: relative; /* 오류 메시지 정렬 위함 */
}

.user-vacation-list {
  border-radius: var(--base-border-radius);
}

.user-vacation-info {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 var(--space-medium);
}

.user-vacation-info span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-vacation-status {
  padding: var(--space-xsmall) var(--space-small);
  border-radius: var(--base-border-radius);
}

.status-승인 {
  background-color: var(--color-green);
  color: var(--color-white);
}

.status-대기 {
  background-color: var(--color-light-gray);
  color: var(--color-black);
}

.status-거부 {
  background-color: #c85159;
  color: var(--color-white);
}

/* detail 컨텐츠 */
.user-detail-content-container {
  padding: var(--space-medium);
}

.user-detail-content-container .user-detail-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-medium);
}

.user-detail-content-container .user-detail-content .user-detail-item {
  display: flex;
  gap: var(--space-large);
  align-items: center;
  width: 100%;
}

.user-detail-content-container
  .user-detail-content
  .user-detail-item
  .user-detail-label {
  flex: 2;
  font-weight: 700;
}

.user-detail-content-container
  .user-detail-content
  .user-detail-item
  .user-detail-value {
  flex: 8;
}

.user-detail-content-container
  .user-detail-content
  .user-detail-item
  .user-detail-value
  .user-date {
  color: #130640;
}

.user-detail-content-container
  .user-detail-content
  .user-detail-item
  .user-detail-value
  .user-date-separator {
  margin: 0 var(--space-xsmall);
}

.user-detail-content-container .user-detail-content .user-detail-content-box {
  align-items: flex-start;
}

.user-detail-content-container
  .user-detail-content
  .user-detail-content-box
  .user-detail-value
  .user-content-box {
  background: var(--color-pale-gray);
  padding: var(--space-medium);
  line-height: 1.5;
}

/* 다운로드 파일 */
.user-detail-content-container
  .user-detail-content
  .user-detail-item
  .user-download-file {
  flex: 8;
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.user-detail-content-container
  .user-detail-content
  .user-detail-item
  .user-download-file
  .user-detail-value {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-detail-content-container .user-approval-button-group {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-small);
  margin-top: var(--space-medium);
}

.user-vacation-filter-error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-dark-gray);
}

/* form 부분 */
.vacation-request-form {
  padding: var(--space-medium);
}

.vacation-request-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.vacation-request-form-inputs .input-container {
  width: 100%;
  display: flex;
  min-height: 50px;
}

.vacation-request-form-inputs .input-container .vacation-input {
  flex: 2;
  flex-basis: 0;
  font-weight: 700;
  margin-top: 0.8rem;
}

.vacation-request-form-inputs .input-container .input-box {
  flex: 8;
  flex-basis: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vacation-request-form-inputs .input-container .input-box .error-message {
  margin: 0 0 0 5px;
  font-size: var(--font-small);
  color: var(--color-coral);
}
.vacation-request-form-inputs
  .input-container
  .input-box
  .error-message.file-error {
  margin: 0 0 0 23px;
}

.vacation-request-form-inputs .input-container .input-box .input-field,
.vacation-request-form-inputs .input-container .input-box .input-select {
  width: 100%;
  height: 100%;
  padding: var(--space-xsmall);
  border: 1.5px solid var(--color-light-gray);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  transition: border-color 0.3s;
}

.vacation-request-form-inputs .input-container .input-box .input-field:hover,
.vacation-request-form-inputs .input-container .input-box .input-select:hover {
  border: 1.5px solid var(--color-regular-gray);
}

.vacation-request-form-inputs .input-container .input-box #vacation-content {
  line-height: 1.2;
}

.vacation-request-form-inputs .proof-file .proof-file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-title {
  text-decoration: underline;
  color: var(--color-dark-gray);
  cursor: pointer;
}
.proof-file-upload-btn {
  max-height: 40px !important;
}
.vacation-request-form-inputs #fileInput {
  display: none;
}

/* 반응형 스타일 */
@media (width <= 1000px) {
  .user-vacation-phone {
    display: none;
  }
  .file-title {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (width <= 767px) {
  .user-detail-content-container {
    padding: 0 var(--space-small) var(--space-medium);
  }
  .user-vacation-list-section {
    height: calc(100vh - 310px);
  }
  .user-detail-content-container
    .vacation-request-form-inputs
    .input-box
    .input-field,
  .user-detail-content-container
    .vacation-request-form-inputs
    .input-box
    .input-select {
    height: 30px;
  }
  .user-detail-content-container .user-vcDownload-btn,
  .user-detail-content-container .proof-file-upload-btn {
    padding: var(--space-xsmall) var(--space-small) !important;
  }
  .user-approval-button-group .user-vcEdit-button,
  .user-approval-button-group .user-vcDelete-button,
  .user-approval-button-group .user-vcSubmit-button {
    padding: var(--space-small) var(--space-medium) !important;
  }

  .vacation-request-form-inputs .input-container .vacation-input {
    flex: 3;
  }

  .vacation-request-form-inputs .input-container .input-box {
    flex: 7;
  }

  .proof-file-upload-btn {
    margin-top: 0.5rem;
    max-height: 30px !important;
    padding: var(--space-xsmall) !important;
    font-size: var(--font-small) !important;
  }

  .file-title {
    max-width: 100px;
  }
}

@media (width <= 576px) {
  .user-vacation-list-section {
    height: calc(100vh - 310px);
  }
  .user-vacation-name {
    display: none;
  }
  .user-vacation-position {
    display: none;
  }
}

@media (width<=400px) {
  .user-vacation-info {
    font-size: var(--font-small);
  }
  .user-detail-content-container {
    font-size: var(--font-small);
  }
  .user-detail-content-container
    .vacation-request-form-inputs
    .input-box
    .input-field,
  .user-detail-content-container
    .vacation-request-form-inputs
    .input-box
    .input-select {
    font-size: var(--font-small);
  }
  .user-detail-content-container .user-vcDownload-btn,
  .user-detail-content-container .proof-file-upload-btn {
    font-size: var(--font-small) !important;
  }
  .user-approval-button-group .user-vcEdit-button,
  .user-approval-button-group .user-vcDelete-button,
  .user-approval-button-group .user-vcSubmit-button {
    font-size: var(--font-small) !important;
  }
}
