@import '../../../styles/global.css';

.peer-title {
  font-size: var(--font-large);
  flex: 1; /* 제목이 가능한 공간을 차지하도록 설정 */
}

.search-bar {
  margin-right: 0; /* 오른쪽 여백 제거 */
  display: flex; /* 내부 요소를 flexbox로 설정 */
  align-items: center; /* 내부 요소 수직 중앙 정렬 */
}

.peer-box {
  display: flex; /* Flexbox 활성화 */
  flex-wrap: wrap; /* 자식 요소가 줄 바꿈 되도록 설정 */
  justify-content: flex-start; /* 수평 정렬을 왼쪽으로 설정 */
  margin-top: 0;
  width: 100%; /* 가로폭 100%로 설정 */
  max-height: 70vh; /* 최대 높이 설정 */
  overflow-y: scroll; /* 항상 세로 스크롤바 표시 */
}

.peer-frame {
  width: calc(20% - 40px); /* 기본적으로 5개가 들어갈 수 있도록 설정 */
  height: calc(var(--space-large) * 9.5);
  background-color: var(--color-skyblue);
  margin: var(--space-medium); /* 여백 추가 */
  margin-top: 0;
  padding: var(--space-xsmall);
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 내부 요소 수평 중앙 정렬 */
  transition: box-shadow 0.3s ease; /* 부드러운 전환 효과 추가 */
  border-radius: 10px;
}

.peer-frame:hover {
  box-shadow: var(--box-shadow-xlarge);
}

.image-circle {
  width: calc(var(--space-large) * 5); /* 원의 너비 */
  height: calc(var(--space-large) * 5); /* 원의 높이 */
  background-color: var(--color-caramel-dark); /* 배경색 */
  border-radius: 50%; /* 원형으로 만들기 */
  display: flex; /* 내부 요소 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin: var(--space-medium);
  overflow: hidden; /* 원을 넘어가는 부분 숨기기 추가 */
}

.image-circle img {
  width: 50%; /* 이미지 너비를 100%로 설정 */
  height: 50%; /* 이미지 높이를 100%로 설정 */
  object-fit: cover; /* 이미지 비율 유지하면서 잘라내기 */
}

.peer-name,
.peer-email {
  text-align: center;
  font-size: var(--font-medium);
  padding: var(--space-medium);
}

.peer-email {
  font-size: var(--font-small);
}

#searchInput {
  border-radius: 10px;
  height: var(--space-large);
  border: 1px solid #ccc; /* 연한 회색 테두리 추가 */
  outline: none; /* 포커스 시 나타나는 외곽선 제거 */
  padding: var(--space-small);
}

#searchIcon {
  margin-right: calc(var(--space-large) * 2.5);
  margin-left: var(--space-xsmall);
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1200px) {
  .peer-frame {
    width: calc(25% - 40px); /* 4개가 들어갈 수 있도록 설정 */
  }

  .peer-title {
    font-size: var(--font-large); /* 폰트 크기를 줄임 */
  }

  .search-bar {
    margin-right: var(--space-small); /* 오른쪽 여백을 약간 추가 */
  }
}

@media (max-width: 900px) {
  .peer-frame {
    width: calc(33.33% - 40px); /* 3개가 들어갈 수 있도록 설정 */
  }

  .peer-title {
    font-size: var(--font-large); /* 폰트 크기를 줄임 */
  }

  .search-bar {
    margin-right: var(--space-xsmall); /* 오른쪽 여백을 줄임 */
  }
  #searchInput {
    width: 100%; /* 검색 바 전체 폭 사용 */
  }

  #searchButton {
    margin-right: 0; /* 오른쪽 여백 제거 */
    width: 100%; /* 버튼도 전체 폭 사용 */
  }
}

@media (max-width: 600px) {
  .peer-frame {
    width: calc(50% - 40px); /* 2개가 들어갈 수 있도록 설정 */
  }

  .peer-title {
    font-size: var(--font-medium); /* 폰트 크기를 줄임 */
  }

  #searchInput {
    width: 100%; /* 검색 바 전체 폭 사용 */
  }

  #searchButton {
    margin-right: 0; /* 오른쪽 여백 제거 */
    width: 100%; /* 버튼도 전체 폭 사용 */
  }
}

@media (max-width: 400px) {
  .peer-frame {
    width: calc(100% - 40px); /* 1개가 들어갈 수 있도록 설정 */
  }

  .peer-title {
    font-size: var(--font-medium); /* 폰트 크기를 줄임 */
  }

  #searchInput {
    width: 100%; /* 검색 바 전체 폭 사용 */
    margin-bottom: 10px; /* 버튼과의 간격 추가 */
  }

  #searchButton {
    margin-right: 0; /* 오른쪽 여백 제거 */
    width: 100%; /* 버튼도 전체 폭 사용 */
  }
}
