.peer-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.peer-title {
  font-size: var(--font-large);
  flex: 1; /* 남은 공간을 차지하도록 설정 */
  max-width: 400px;
  margin-right: 500px;
  white-space: nowrap;
}

.peer-search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 800px;
}

.peer-search-input {
  border-radius: 10px;
  height: var(--space-large);
  border: 1px solid #ccc;
  outline: none;
  padding: var(--space-small);
  margin-left: 10px;
  flex-grow: 1; /* 입력창도 가능한 공간을 차지하도록 설정 */
}

.peer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
}

.peer-frame:hover {
  box-shadow: var(--box-shadow-xlarge);
}

.image-circle {
  width: calc(var(--space-large) * 5);
  height: calc(var(--space-large) * 5);
  background-color: var(--color-caramel-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--space-medium);
  overflow: hidden;
}

.image-circle img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.peer-name,
.peer-email {
  text-align: center;
  font-size: var(--font-large);
  padding: var(--space-medium);
}

.peer-email {
  font-size: var(--font-small);
}

.peer-search-icon {
  margin-right: calc(var(--space-large) * 2.5);
  margin-left: var(--space-xsmall);
}

.peer-frame {
  width: calc(20% - 30px); /* 5개가 들어갈 수 있도록 설정 */
  height: calc(var(--space-large) * 9.5);
  background-color: var(--color-skyblue);
  margin: 15px;
  padding: var(--space-xsmall);
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: center;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */

@media (max-width: 1900px) {
  .peer-search-input {
    width: 200px;
  }
}

@media (max-width: 1500px) {
  .peer-frame {
    width: calc(25% - 40px); /* 4개가 들어갈 수 있도록 설정 */
    height: 320px;
    margin: 10px;
  }
  .peer-title {
    margin-right: 150px;
  }
}

@media (max-width: 1200px) {
  .peer-frame {
    width: calc(33.33% - 40px); /* 3개가 들어갈 수 있도록 설정 */
    margin: 20px;
  }
  .peer-title {
    margin-right: 200px;
  }
  .peer-search-input {
    width: 100px;
  }
}

@media (max-width: 900px) {
  .peer-frame {
    width: calc(50% - 20px); /* 4개가 들어갈 수 있도록 설정 */
    margin: 10px;
  }
  .peer-title {
    margin-right: 100px;
  }
  .peer-email {
    font-size: var(--size-xlarge);
  }
  .peer-search-bar {
    max-width: 200px;
  }
}

@media (min-width: 601px) and (max-width: 899px) {
  .peer-email {
    font-size: var(--size-xlarge);
  }
  .peer-search-bar {
    max-width: 400px;
  }
  .peer-title {
    margin-right: 40px;
  }
  .peer-search-input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .peer-frame {
    width: calc(50% - 20px); /* 4개가 들어갈 수 있도록 설정 */
    margin: 10px;
  }
  .peer-name {
    font-size: var(--size-xlarge);
  }
  .peer-search-bar {
    max-width: 300px;
  }
  .peer-title {
    margin-right: 10px;
  }
  .peer-search-input {
    width: 200px;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .peer-frame {
    height: 200px;
    margin: 10px;
  }
  .image-circle {
    width: calc(var(--space-large) * 3);
    height: calc(var(--space-large) * 3);
  }
  .peer-email {
    font-size: 7px;
  }
  .peer-search-bar {
    max-width: 300px;
  }
  .peer-title {
    margin-right: 150px;
  }
  .peer-search-input {
    width: 200px;
  }
}

@media (min-width: 301px) and (max-width: 400px) {
  .peer-frame {
    height: 210px;
    margin: 10px;
  }
  .image-circle {
    width: calc(var(--space-large) * 3);
    height: calc(var(--space-large) * 3);
  }
  .peer-email {
    font-size: 7px;
  }
  .peer-title {
    margin-right: 40px;
  }
  .peer-search-input {
    width: 100px;
  }
}

@media (min-width: 201px) and (max-width: 300px) {
  .peer-frame {
    height: 190px;
    margin: 10px;
  }
  .image-circle {
    width: calc(var(--space-large) * 2);
    height: calc(var(--space-large) * 2);
  }
  .peer-email {
    font-size: 7px;
  }
  .peer-search-bar {
    max-width: 30px;
  }
  .peer-title {
    margin-right: 0px;
  }
  .peer-search-input {
    width: 100px;
  }
}
