button[data-type='break-in'],
button[data-type='break-out'],
button[data-type='punch-in'],
button[data-type='punch-out'] {
  width: calc(var(--space-large) * 3);
  height: calc(var(--space-medium) * 3);
  background-color: var(--color-skyblue);
  transition: background-color 0.3s ease-in-out;
}

button[data-type='break-in']:hover,
button[data-type='break-out']:hover,
button[data-type='punch-in']:hover,
button[data-type='punch-out']:hover {
  background-color: #83b8f5;
}

.modal-question-container {
  margin: var(--space-medium);
}

.user-modal-button-group {
  display: flex;
  justify-content: center;
}

.cancel-button {
  background-color: var(--color-coral);
  width: calc(var(--space-large) * 3);
  height: calc(var(--space-medium) * 3);
}

.modal-title {
  font-size: var(--font-large);
  font-weight: 900;
  margin-top: var(--space-large);
  text-align: center;
  margin-bottom: var(--space-large);
}

.modal-date,
.modal-time {
  font-size: calc(var(--font-small) * 1.7);
  margin: var(--space-small) var(--space-medium);
  text-align: center;
}

.modal-time {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: var(--space-large);
  width: 100%;
}

/* modal의 버튼에만 해당 */
.modal button {
  padding: var(--space-small) var(--space-medium);
  font-size: var(-font-medium);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

/* 성공 메시지 스타일 */
.success-message {
  text-align: center;
  font-size: 1.2em;
  margin: var(--space-large);
}

.success-message p {
  line-height: 1.5;
}

.modal-content .material-symbols-rounded {
  font-size: calc(var(--font-xxlarge) * 1.8);
  display: block;
  margin: 0 auto;
}

.success-message .close-button {
  width: calc(var(--space-large) * 3.3);
  height: calc(var(--space-small) * 5);
  background-color: var(--color-light-gray);
  margin: var(--space-small);
  transition: background-color 0.3s ease-in-out;
}

.close-button:hover {
  background-color: #c3c2c2;
}

/* 실패한 경우 */
.error-message {
  margin: var(--space-large);
  text-align: center;
  font-size: 1.2em;
}

.error-message p {
  line-height: 1.5;
}

.error-message .retry-button,
.error-message .close-button {
  width: calc(var(--space-large) * 3.3);
  height: calc(var(--space-small) * 5);
  margin: calc(var(--space-xsmall) * 5) var(--space-small);
  transition: background-color 0.3s ease;
}

.error-message .close-button {
  background-color: var(--color-light-gray);
}

.error-message .close-button:hover {
  background-color: #c3c2c2;
}

.retry-button {
  background-color: var(--color-green-light);
}

.retry-button:hover {
  background-color: #7ac47a;
}
