@import '../../../styles/global.css';

.peer-header {
  display: flex; /* Flexbox 활성화 */
  justify-content: space-between; /* 요소 간의 간격을 균등하게 설정 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-bottom: var(--space-medium); /* 아래쪽 여백 */
}
