@font-face {
  font-family: 'Pretendard-Black';
  src: url('../src/assets/Pretendard-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Black', sans-serif;
}

button {
  font-family: 'Pretendard-Black', sans-serif;
}

/* id = main 부분 css 추가  */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* 수직 방향으로 정렬 */
}

#content {
  flex: 1; /* 가용 공간을 채우도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}
