@font-face {
  font-family: 'Pretendard-Black';
  src: url('../src/assets/Pretendard-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Black', sans-serif;
}

button {
  font-family: 'Pretendard-Black', sans-serif;
}
