@font-face {
  font-family: 'Pretendard-Medium';
  src: url('fonts/Pretendard-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Medium', sans-serif;
}

button {
  font-family: 'Pretendard-Medium', sans-serif;
}

/* id = main 부분 css 추가  */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  position: absolute;
  top: 141px;
  left: 381px;
  right: 0;
  bottom: 0;
  padding: 20px;
  box-sizing: border-box;
}
