.user-notice-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--space-medium);
}
.user-notice-list-header .strong {
  font-size: var(--font-large);
  font-weight: 700;
}
.user-notice-list-header .user-notice-search {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.user-notice-list-header .user-notice-search input[type='text'] {
  padding: var(--space-small);
  max-height: 30px;
  border-radius: var(--base-border-radius);
  outline: none;
  border: 1.5px solid var(--color-dark-gray);
}

.user-notice-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2rem;
  position: relative; /* 오류 메시지 가운데 정렬 위함 */
  width: 100%;
  height: calc(100vh - 210px);
  overflow-y: scroll;
  padding: var(--space-large);
  border-radius: var(--base-border-radius);
  background-color: var(--color-pale-gray);
}

.user-notice-list .user-notice-item-container {
  width: 100%;
  max-height: 350px;
  border: 1.5px solid var(--color-dark-gray);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  cursor: pointer;
}

.user-notice-list .user-notice-item-container:hover {
  box-shadow: var(--box-shadow-xlarge);
}

.user-notice-list .user-notice-filter-error-message {
  grid-column: 1 / -1; /* 전체 그리드 셀들 차지 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--font-medium);
  color: var(--color-dark-gray);
}

/* 각 공지 */
.notice-item {
  line-height: 2;
}

.notice-item .notice-image {
  width: 100%;
  height: 200px;
}

.notice-item .notice-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--base-border-radius);
  border-top-right-radius: var(--base-border-radius);
}

.notice-item .notice-content {
  padding: var(--space-small);
  flex: 1;
  flex-basis: 0;
}

.notice-item .notice-content .notice-title {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-item .notice-content .notice-description {
  font-size: var(--font-small);
  color: var(--color-dark-gray);
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-item .notice-content .notice-date {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: var(--font-small);
  color: var(--color-dark-gray);
}

.notice-item .notice-content .notice-date > .material-symbols-rounded {
  font-size: var(--font-small);
}

@media (width<=767px) {
  .user-notice-list-header {
    margin-bottom: var(--space-medium);
  }
  .user-notice-list-header .user-notice-title {
    display: none;
  }
  .user-notice-list-header .user-notice-search {
    justify-content: center;
    gap: 0.5rem;
    padding-top: var(--space-small);
  }
}

@media (width <= 350px) {
  .user-notice-list-header .user-notice-search {
    max-width: 300px;
  }
}
