.notice-header {
  width: 100;
  display: flex;
  align-items: center;
  margin-bottom: var(--space-small);
}
.notice-header .strong {
  font-size: var(--font-large);
  font-weight: 700;
}
.notice-header .search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.notice-header .search input[type='text'] {
  padding: var(--space-small);
  max-height: 30px;
}

.notice-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 210px);
  overflow-y: scroll;
  padding: var(--space-large);
  border-radius: var(--base-border-radius);
  background-color: var(--color-pale-gray);
}

.notice-list .notice-item-container {
  width: 100%;
  max-height: 350px;
  border: 1.5px solid var(--color-dark-gray);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  cursor: pointer;
}

.notice-list .notice-item-container:hover {
  box-shadow: var(--box-shadow-xlarge);
}

.notice-list .notice-item-container .clicked {
  border: 3px solid var(--color-blue);
}

.notice-list .notice-filter-error-message {
  grid-column: 1 / -1; /* 전체 너비 차지 */
  text-align: center;
  font-size: var(--font-medium);
  color: var(--color-dark-gray);
}

@media (width<=767px) {
  .notice-header {
    margin-bottom: var(--space-medium);
  }
  .notice-header .explain {
    display: none;
  }
  .notice-header .search {
    justify-content: center;
    gap: 0.5rem;
    padding-top: var(--space-small);
  }
}

@media (width <= 350px) {
  .notice-header .search {
    max-width: 300px;
  }
}
