/* Home.css */

/* LAYOUT */
.my-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-view {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 섹션 간 간격 조정 */
}

.main-left,
.main-right {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 가로 방향 중앙 정렬 */
}

.main-notice-gallery,
.main-notice {
  width: 800px; /* 가로 길이 설정 */
  height: 330px; /* 세로 길이 설정, 필요에 따라 조정 */
  margin: 10px; /* 컴포넌트 간 간격 설정 */
  display: flex; /* 내부 텍스트 중앙 정렬을 위해 flex 사용 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
}

.main-time-punch,
.main-vaction {
  width: 500px; /* 가로 길이 설정 */
  height: 330px; /* 세로 길이 설정, 필요에 따라 조정 */
  margin: 10px; /* 컴포넌트 간 간격 설정 */
  display: flex; /* 내부 텍스트 중앙 정렬을 위해 flex 사용 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
}

/* PUNCH-MANAGE */
.punch-info-container {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  height: 100%; /* 높이 설정 (부모 요소에 따라 조정) */
}

.punch-time-title {
  font-size: var(--font-medium);
  text-align: left; /* 텍스트를 왼쪽으로 정렬 */
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.current-time-board {
  width: 450px;
  height: 70px;
  background-color: var(--color-pale-gray);
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  border-radius: var(--base-border-radius);
}

.material-symbols-rounded {
  font-size: calc(var(--font-medium) * 2);
  margin: 0 10px;
}

/* PUNCH-MANAGE HEADER */

.punch-time-header {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 양쪽 끝으로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  padding: 10px; /* 내부 여백 설정 */
  margin-top: 20px;
}

.punch-time-header p {
  margin-bottom: 10px;
  font-size: var(--font-medium);
}

.punch-time-header .punch-detail-button {
  width: 100px;
  font-size: var(--font-medium);
  border-radius: var(--base-border-radius);
  background-color: var(--color-light-gray);
  padding: 5px;
  margin-bottom: 10px;
}

/* PUNCH-MANAGE BOARD */

.punch-time {
  font-size: var(--font-medium);
}

.punch-time-board {
  display: flex; /* Flexbox를 사용하여 가로로 나열 */
  justify-content: space-between; /* 요소들 사이의 공간을 균등하게 배치 */
}

.punch-time-board p {
  margin: 0; /* 기본 마진 제거 */
  padding: 0 10px; /* 좌우 패딩 추가 (필요에 따라 조정) */
}

.punch-time-board-box {
  width: 100px;
  height: 130px; /* 필요에 따라 조정 */
  background-color: var(--color-pale-gray);
  margin-left: 15px;
  border-radius: var(--base-border-radius);
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  padding-top: 10px;
}

.punch-time-board-box-title {
  align-self: flex-start; /* 왼쪽 상단에 위치하도록 설정 */
}

.punch-time-board-box-content {
  margin: 0; /* 기본 여백 제거 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-grow: 1; /* 남은 공간을 차지하여 중앙 위치 */
  font-size: var(--font-medium);
}

.punch-in-button,
.punch-out-button,
.break-out-button,
.break-in-button {
  width: 85px;
  height: 30px;
  border-radius: 5px;
  font-size: var(--font-medium);
  margin-left: 10px;
  margin-bottom: 10px;
}

.punch-in-button {
  background-color: #3bbf0a;
}
.punch-out-button {
  background-color: var(--color-regular-gray);
}
.break-out-button {
  background-color: rgba(128, 128, 128, 0.3); /* 30% 투명도 */
}
.break-in-button {
  background-color: rgba(59, 191, 10, 0.3); /* 30% 투명 */
}

/* SECTION 분리 */
.main-notice {
  background-color: orange;
}

.main-notice-gallery {
  background-color: violet;
}

.main-vaction {
  background-color: darkseagreen;
}
