/* Home.css */

/* LAYOUT */
.my-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-view {
  display: flex;
  justify-content: space-between;
}

.main-left,
.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LEFT */
.main-notice-gallery,
.main-notice {
  width: calc(var(--space-xxlarge) * 6.25);
  height: calc(var(--space--xxlarge) * 2.57);
  margin: var(--space-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT */
.main-time-punch,
.main-vaction {
  width: calc(var(--space-xxlarge) * 3.9);
  height: calc(var(--space--xxlarge) * 2.57);
  margin: var(--space--small);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PUNCH-MANAGE */
.punch-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.punch-time-title {
  font-size: var(--font-medium);
  text-align: left;
  width: 100%;
  margin-top: 0px;
  margin-left: var(--space-xlarge);
  margin-bottom: var(--space-small);
}

.current-time-board {
  width: calc(var(--space-xxlarge) * 3.5);
  height: calc(--space--xlarge);
  background-color: var(--color-pale-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--base-border-radius);
}

.current-time-board .material-symbols-rounded {
  font-size: calc(var(--font-medium) * 2);
  margin: 0 var(--space--small);
}

/* PUNCH-MANAGE HEADER */

.punch-time-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space--small);
  margin-top: var(--space-medium);
}

.punch-time-header p {
  margin-bottom: var(--space-small);
  font-size: var(--font-medium);
}

.punch-time-header .punch-detail-button {
  width: 100px;
  font-size: var(--font-medium);
  border-radius: var(--base-border-radius);
  background-color: var(--color-light-gray);
  padding: var(--space-xsmall);
  margin-bottom: var(--space-small);
}

/* PUNCH-MANAGE BOARD */

.punch-time {
  font-size: var(--font-medium);
}

.punch-time-board {
  display: flex;
  justify-content: space-between;
}

.punch-time-board p {
  margin: 0;
  padding: 0 var(--space-small);
}

.punch-time-board-box {
  width: calc(var(--space-large) * 3);
  height: var(--space-xxlarge);
  background-color: var(--color-pale-gray);
  margin-left: var(--space-medium);
  border-radius: var(--base-border-radius);
  display: flex;
  flex-direction: column;
  padding-top: var(--space-small);
}

.punch-time-board-box-title {
  align-self: flex-start;
}

.punch-time-board-box-content {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: var(--font-medium);
}

.punch-in-button,
.punch-out-button,
.break-out-button,
.break-in-button {
  width: calc(var(--space-medium) * 5);
  height: var(--space-large);
  border-radius: var(--space-xsmall);
  font-size: var(--font-medium);
  margin-left: var(--space-small);
  margin-bottom: var(--space-small);
}

.punch-in-button {
  background-color: #3bbf0a;
}
.punch-out-button {
  background-color: var(--color-regular-gray);
}
.break-out-button {
  background-color: rgba(128, 128, 128, 0.3); /* 30% 투명도 */
}
.break-in-button {
  background-color: rgba(59, 191, 10, 0.3); /* 30% 투명 */
}

/* SECTION 분리 */
.main-notice {
  background-color: orange;
}

.main-notice-gallery {
  background-color: violet;
}

.main-vaction {
  background-color: darkseagreen;
}
