.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-left,
.home-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-explain-container,
.punch-time-container,
.notice-gallery-container,
.vacation-table-container {
  flex: 1;
  flex-basis: 0;
  padding: var(--space-medium);
}

/* course-explain */
.course-explain-container {
  border-right: 2px solid var(--color-pale-gray);
  border-bottom: 2px solid var(--color-pale-gray);
}

.course-explain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.course-explain .left-course,
.course-explain .right-course {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.course-explain .right-course {
  align-items: flex-end;
  gap: 0.5rem;
}
.course-explain .left-course {
  gap: 0.5rem;
}

.course-explain .left-course .main-title {
  font-size: var(--font-xlarge);
  font-weight: 700;
}
.course-explain .left-course .sub-title {
  font-weight: 700;
  line-height: 1.5;
}

.course-explain .right-course .d-day {
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--color-dark-gray);
}
.course-explain .right-course .message {
  line-height: 1.5;
  text-align: end;
  font-size: var(--font-small);
}

.course-explain .right-course .chart {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.3s;
  display: inline-block;
}
.course-explain .right-course .chart:after {
  /* 가상선택자는 도넛 모양을 만들기 위함*/
  content: '';
  background: #fff; /* 백그라운드 컬러로 중앙가리기 */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px; /* 도넛의 너비 설정 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.course-explain .right-course .chart-bar {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.course-explain .right-course .chart .chart-percentage {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: var(--color-dark-gray);
}

/* time-punch */
.punch-time-container {
  border-bottom: 2px solid var(--color-pale-gray);
}

.punch-time {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.punch-time .curr-time-board {
  width: 100%;
  min-height: 50px;
  background-color: var(--color-pale-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--base-border-radius);
}

.punch-time .curr-time-board .curr-date {
  font-weight: 700;
}

.punch-time .punch-time-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-medium);
}

.punch-time .punch-time-header .punch-detail-button {
  width: 100px;
  font-size: var(--font-medium);
  border-radius: var(--base-border-radius);
  background-color: var(--color-light-gray);
  padding: 5px;
  margin-bottom: 10px;
}

.punch-time .punch-time-board {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.punch-time .punch-time-board .punch-time-board-box {
  width: 20%;
  min-width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--space-small);
  background-color: var(--color-pale-gray);
  border-radius: var(--base-border-radius);
}

.punch-time
  .punch-time-board
  .punch-time-board-box
  .punch-time-board-box-title {
  margin-left: 0.3rem;
  font-weight: 700;
}

.punch-time
  .punch-time-board
  .punch-time-board-box
  .punch-time-board-box-content {
  align-self: center;
}

.punch-time .punch-time-board .punch-time-board-box .break-out-btn {
  background-color: rgba(205, 205, 205, 0.3) !important;
}
.punch-time .punch-time-board .punch-time-board-box .break-in-btn {
  background-color: rgba(59, 191, 10, 0.3) !important;
}

/* notice-gallery */
.notice-gallery-container {
  border-right: 2px solid var(--color-pale-gray);
}

.notice-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notice-gallery .notice-gallery-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.notice-gallery .notice-list {
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: var(--space-medium);
  border-radius: var(--base-border-radius);
  background-color: var(--color-pale-gray);
  overflow-x: scroll;
  white-space: nowrap;
}

.notice-gallery .notice-list .notice-item-container {
  max-width: 200px;
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  cursor: pointer;
}

.notice-gallery .notice-list .notice-item-container:hover {
  box-shadow: var(--box-shadow-large);
}

/* 각 공지 */
.notice-gallery .notice-list .notice-item-container .notice-item {
  line-height: 2;
}

.notice-gallery .notice-list .notice-item-container .notice-item .notice-image {
  width: 100%;
  height: 200px;
}

.notice-gallery
  .notice-list
  .notice-item-container
  .notice-item
  .notice-image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--base-border-radius);
  border-top-right-radius: var(--base-border-radius);
}

.notice-gallery
  .notice-list
  .notice-item-container
  .notice-item
  .notice-content {
  padding: var(--space-small);
  flex: 1;
  flex-basis: 0;
}

.notice-gallery .notice-list .notice-item-container .notice-item .notice-title {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-gallery .notice-list .notice-item .notice-content .notice-description {
  font-size: var(--font-small);
  color: var(--color-dark-gray);
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-gallery .notice-list .notice-item .notice-content .notice-date {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: var(--font-small);
  color: var(--color-dark-gray);
}

.notice-item .notice-content .notice-date > .material-symbols-rounded {
  font-size: var(--font-small);
}

/* vacation-table */
.vacation-table-container {
  border-right: 2px solid var(--color-pale-gray);
}

.vacation-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vacation-table .vacation-table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacation-table-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-pale-gray);
  border-radius: var(--base-border-radius);
  overflow: hidden;
}

.vacation-table-box .vacation-table-box-header {
  display: flex;
  font-weight: 700;
  background-color: var(--color-regular-gray);
  padding: var(--space-medium);
}

.vacation-table-box .vacation-table-box-header .vc-header-etc {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.vacation-table-box .vacation-table-box-content {
  width: 100%;
  padding: var(--space-small);
  overflow-y: scroll;
}

.vacation-table-box .vacation-table-box-content .vacation-item {
  display: flex;
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  margin-bottom: 1rem;
  padding: var(--space-medium);
}

.vacation-table-box .vacation-table-box-content .vacation-item .vc-item-etc {
  flex: 1;
  flex-basis: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.vacation-table-box .vacation-table-box-content .vacation-item .vc-item-date {
  color: var(--color-dark-gray);
}

.vacation-table-box
  .vacation-table-box-content
  .vacation-item
  .vc-item-status-N {
  color: var(--color-coral);
}
.vacation-table-box
  .vacation-table-box-content
  .vacation-item
  .vc-item-status-Y {
  color: var(--color-green-light);
}

@media (max-width: 1400px) {
  .home-container {
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }
  .home-left,
  .home-right {
    width: 100%;
    height: auto;
  }

  .course-explain-container,
  .punch-time-container,
  .notice-gallery-container,
  .vacation-table-container {
    width: 100%;
    flex: none;
    margin-bottom: 1rem;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--color-pale-gray);
  }

  .course-explain .left-course .main-title {
    font-size: var(--font-large);
  }
  .course-explain .left-course .sub-title {
    font-size: var(--font-medium);
  }
  .course-explain .right-course .d-day {
    font-size: var(--font-large);
  }
  .course-explain .right-course {
    gap: 0.5rem;
  }
  .course-explain .right-course .message {
    font-size: var(--font-small);
  }
  .course-explain .right-course .chart {
    width: 50px;
    height: 50px;
  }
  .course-explain .right-course .chart:after {
    /* 가상선택자는 도넛 모양을 만들기 위함*/
    width: 20px;
    height: 20px; /* 도넛의 너비 설정 */
  }
  .course-explain .right-course .chart .chart-percentage {
    font-size: var(--font-small);
  }

  .punch-time .punch-time-board .punch-time-board-box {
    gap: 1rem;
  }

  .notice-gallery
    .notice-list
    .notice-item-container
    .notice-item
    .notice-image {
    width: 100%;
    height: 100px;
  }

  .vacation-table-box {
    font-size: var(--font-small);
  }
  .vacation-table-box .vacation-table-box-content {
    width: 100%;
    padding: var(--space-small);
    overflow: hidden;
  }
  .vacation-table-box .vacation-table-box-content .vacation-item {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767px) {
  .home-container {
    flex-direction: column;
    min-height: 100dvh;
    height: auto;
  }
  .home-left,
  .home-right {
    width: 100%;
    height: auto;
  }

  .course-explain-container,
  .punch-time-container,
  .notice-gallery-container,
  .vacation-table-container {
    width: 100%;
    flex: none;
    margin-bottom: 1rem;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid var(--color-pale-gray);
  }

  .punch-time
    .punch-time-board
    .punch-time-board-box
    .punch-time-board-box-title {
    font-size: var(--font-small);
  }
  .punch-time
    .punch-time-board
    .punch-time-board-box
    .punch-time-board-box-content {
    font-size: var(--font-small);
  }
}
