.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-medium);
  height: 100px;
  padding: var(--space-large);
  border-bottom: 1px solid var(--color-dark-gray);
  z-index: 1;
}

.content-container {
  display: flex;
  height: calc(100vh - 100px);
}

.navbar {
  flex: 2;
  flex-basis: 0;
  margin-top: -100px;
  padding: var(--space-large);
  border-right: 1px solid var(--color-dark-gray);
  background-color: var(--color-white);
  z-index: 1;
}

.content {
  flex: 8;
  flex-basis: 0;
  overflow: auto;
  padding: var(--space-large);
}

@media (width<=767px) {
  .header {
    justify-content: space-between;
    width: 100%;
    max-height: 50px;
    padding: var(--space-small);
  }

  .content-container {
    display: block; /* 세로 레이아웃으로 변경 */
  }

  .navbar {
    position: fixed;
    bottom: 0; /* 화면 하단에 고정 */
    width: 100%;
    height: 70px;
    margin-top: 0; /* margin-top 제거 */
    padding: var(--space-small);
    border-right: none; /* border-right 제거 */
    border-top: 1px solid var(--color-dark-gray);
  }

  .content {
    height: calc(100dvh - 70px); /* navbar 높이를 뺀 나머지 공간 */
    padding: var(--space-small);
    padding-bottom: 60px; /*아래에 공백 줘서 navbar에 안 겹치게 함*/
  }
}
